<div class="form-page">
  <div class="card">
    <div class="card-header">
      <button type="button" class="btn-back" (click)="onBack()" title="Volver">
        <span class="icon">❮</span>
      </button>
      <h2>Formulario de Registro</h2>
    </div>
    
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <div class="grid-container">
          <div class="form-group">
            <label for="id">ID</label>
            <input 
              id="id" 
              type="text" 
              formControlName="id" 
              [class.error-border]="isInvalid('id')"
              [placeholder]="isEditMode() ? '' : 'trja-...' "
            >
            @if (isInvalid('id')) {
              <div class="error-msg">{{ getErrorMessage('id') }}</div>
            }
          </div>
          
          <div class="form-group">
            <label for="name">Nombre</label>
            <input 
              id="name" 
              type="text" 
              formControlName="name"
              [class.error-border]="isInvalid('name')"
            >
            @if (isInvalid('name')) {
              <div class="error-msg">{{ getErrorMessage('name') }}</div>
            }
          </div>

          <div class="form-group">
            <label for="description">Descripción</label>
            <input 
              id="description" 
              type="text" 
              formControlName="description"
              [class.error-border]="isInvalid('description')"
            >
             @if (isInvalid('description')) {
              <div class="error-msg">{{ getErrorMessage('description') }}</div>
            }
          </div>
          
          <div class="form-group">
            <label for="logo">Logo</label>
            <input 
              id="logo" 
              type="text" 
              formControlName="logo"
              [class.error-border]="isInvalid('logo')"
            >
             @if (isInvalid('logo')) {
              <div class="error-msg">{{ getErrorMessage('logo') }}</div>
            }
          </div>

          <div class="form-group">
            <label for="date_release">Fecha Liberación</label>
            <input 
              id="date_release" 
              type="date" 
              formControlName="date_release"
              [class.error-border]="isInvalid('date_release')"
            >
             @if (isInvalid('date_release')) {
              <div class="error-msg">{{ getErrorMessage('date_release') }}</div>
            }
          </div>
          
          <div class="form-group">
            <label for="date_revision">Fecha Revisión</label>
            <input 
              id="date_revision" 
              type="date" 
              formControlName="date_revision"
              [class.error-border]="isInvalid('date_revision')"
            >
             @if (isInvalid('date_revision')) {
              <div class="error-msg">{{ getErrorMessage('date_revision') }}</div>
            }
          </div>
        </div>

        <div class="form-actions">
           <button type="button" class="btn-secondary" (click)="onReset()">Reiniciar</button>
           <button type="submit" class="btn-primary" [disabled]="form.invalid">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
