.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-overlay);
  display: flex;
  justify-content: center;
  align-items: center; /* Center Vertically */
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 3rem 2rem;
  border-radius: 6px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  text-align: center;
  
  .modal-header {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    color: var(--text-color);
    font-weight: 500;
  }

  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    
    button {
      flex: 1; /* Stretch buttons equally */
      padding: 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 600;
      font-size: 1rem;
      max-width: 200px;
    }
    
    .btn-cancel {
      background: var(--gray-200);
      color: var(--secondary-color);
      
      &:hover {
        background-color: #dcdcdc;
      }
    }
    
    .btn-confirm {
      background: var(--primary-color);
      color: var(--secondary-color);
      
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
